@media screen and (min-width : 1200px){

    .Signupmm{

        display : flex;
        margin-top : 60px;
        text-align : center;
        justify-content: center;
        align-items: center;
    }
    
   
    .Signupsection{

        margin-left : 30px;
        width : 450px;
        height : 600px;

    }

    .SignupForm{
        padding : 15px;
        border : 1px solid black;
        
    }

    .Signupemail{
        margin-top: 10px;
        width : 100%;
        height : 50px;
    }

    .Signuppsw{
        margin-top: 10px;
        width : 100%;
        height : 50px;
    }

    .Signupnick{

        margin-top: 10px;
        width : 100%;
        height : 50px;
    }

    .Signuppswcc{
        margin-top: 10px;
        width : 100%;
        height : 50px;

    }


    
    .Signupbtn{

        margin-top: 10px;

        width : 100%;
        height : 50px;
    }

    .Signupbot{
        margin-top : 15px;

        height : 100px;
        text-align: center;
        
    }

    .Signinbtn{

        margin-top : 60px;
        height : 100px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        border :  3px solid black;
        
    }


}

/*tablet version*/
@media screen and (min-width : 768px)and (max-width : 1199px){

    .Signupmm{

        display : flex;
        margin-top : 60px;
        text-align : center;
        justify-content: center;
        align-items: center;
        
    }
    
   
    
    .Signupsection{

        margin-left : 30px;
        width : 450px;
        height : 600px;
        padding : 10px 20px 10px 20px;

    }

    .SignupForm{
        padding : 15px;
        
        
    }

    .Signupemail{
        margin-top: 10px;
        width : 100%;
        height : 50px;
    }

    .Signuppsw{
        margin-top: 10px;
        width : 100%;
        height : 50px;
    }

    
    .Signupnick{

        margin-top: 10px;
        width : 100%;
        height : 50px;
    }

    .Signuppswcc{
        margin-top: 10px;
        width : 100%;
        height : 50px;

    }


    
    .Signupbtn{

        margin-top: 10px;

        width : 100%;
        height : 50px;
    }

    .Signupbot{
        margin-top : 15px;

        height : 100px;
        text-align: center;
        
    }

    .Signinbtn{

        margin-top : 60px;
        height : 100px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        border :  3px solid black;
        
    }



}




@media screen and (max-width : 767px){

    .Signupmm{

        display : flex;
        margin-top : 60px;
        text-align : center;
        justify-content: center;
        align-items: center;
    }
    
   
    
    .Signupsection{

        margin-left : 30px;
        width : 450px;
        height : 600px;

    }

    .SignupForm{
        padding : 15px;
        border : 1px solid black;
        
    }

    .Signupemail{
        margin-top: 10px;
        width : 100%;
        height : 50px;
    }

    .Signuppsw{
        margin-top: 10px;
        width : 100%;
        height : 50px;
    }
    
    .Signupnick{

        margin-top: 10px;
        width : 100%;
        height : 50px;
    }

    .Signuppswcc{
        margin-top: 10px;
        width : 100%;
        height : 50px;

    }


    .Signupbtn{

        margin-top: 10px;

        width : 100%;
        height : 50px;
    }


    .Signupbot{
        margin-top : 15px;

        height : 100px;
        text-align: center;
        
    }

    .Signinbtn{

        margin-top : 60px;
        height : 100px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        border :  3px solid black;
        
    }



}

