
.DetailComment {
    margin-top: 20px;
}
.DetailComment .DetailComment-bar {
    width:100%;
    height:100%;
}
.DetailComment .DetailComment-bar .DetailComment-box {
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.DetailComment .DetailComment-bar .DetailComment-box .DetailComment-nick > img{
    width:50px;
    height:50px;
    border-radius:100%;
}
.DetailComment .DetailComment-bar .DetailComment-box .DetailComment-item {
    position: relative;
    display: flex;
    align-items: center;
    left: 20px;
}

.DetailComment .DetailComment-bar .DetailComment-box .DetailComment-sub {
    font-size: 1.2em;
}
.DetailComment .DetailComment-bar .DetailComment-box .DetailComment-day {
    position: relative;
    font-size: 0.7em;
    top: 40px;
    left: -45px;
}
.DetailComment .DetailComment-bar .DetailComment-box .DetailComment-comment {
    position: relative;
    font-size: 0.7em;
    font-weight: bold;
    top: 40px;
    left: -20px;
}
.DetailComment .DetailComment-bar .DetailComment-box .DetailComment-icons{
    position: relative;
    left: 930px;
}