a{
    text-decoration: none;
}

body{
    width:100%;
    margin:0;
    overflow-y:scroll;
}

.mypage_container{
    display:flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    margin:0;
    margin-bottom:120px;
}

.profile_container{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top:120px;
    margin-bottom:30px;

}
.profile_wrapper{
    display:flex;
    justify-content: center;
    align-items: center;
    width:1200px;
    border:1px solid;
    padding:20px 0px;
}
.profile_image{
    width:200px;
    height:200px;
    border-radius: 70%;
    overflow:hidden;
    margin-right:120px;
    display:flex;
}
.profile_image img{
    width:100%;
    height:100%;
    object-fit: cover;
}

.profile_place{
    width:600px;
}

.profile_nameplace{
    display:flex;
    align-items: center;
}

.profile_nameplace > h1{
    margin-right:30px;
}

.profile_information{
    display: flex;
    align-items: center;
    
    font-size:20px;  
    margin-bottom:20px;
    
}
.profile_information div{
    margin-right:30px;
}

.profile_information .profile_information_follow{
    cursor: pointer;
}

.profile_introduce{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 10; /* 라인수 */
    -webkit-box-orient: vertical;
    word-wrap:break-word; 
    line-height: 1.2em;
    /* line-height 가 1.2em 이고 3라인을 자르기 때문에 height는 1.2em * 3 = 3.6em */

}