/* list */
.mainlist{
    max-width: 1200px;    
  }

.mainlist__container {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
}

/* 카드 */
.mainlist__post {  
    width: 500px;
    background-color: white;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid lightgray;
    margin-top: 20px;
    margin-bottom: 20px;
}
.mainlist__header_id{
    cursor: pointer;
}

.mainlist__photo {
    max-width: 500px;
}
.mainlist__id {
 margin: 20px 0px 20px 20px;
    font-weight: normal;
    padding: 5px;
}
.mainlist__form {
    display: flex;
    margin-top: 20px;
}
.mainlist__input {
    flex: 1;
}
