/* list */
.mainlist{
    max-width: 1200px;    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
}
/* postcard */
.mainlist_container {  
    width: 345px;
    background-color: white;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid lightgray;
    margin-top: 20px;
    margin-bottom: 20px;
}
/* postHeaderBox */
.mainlist__header_id{
    cursor: pointer;
}

.mainlist__id {
 margin: 20px 0px 20px 20px;
    font-weight: normal;
    padding: 5px;
}
.mainlist__form {
    display: flex;
    margin-top: 20px;
}
.mainlist__input {
    flex: 1;
}
/* 사진 */
.postcard_photo {
    height: 0;
    padding-top: '56.25%';
}