

.insertbtn{
    text-align: center;
    
}

.insert_btn{
    width: 500px;
}

.content{
    width: 800px;
    height: 200px;
    margin-top: 23px;
}
.main_insert{
    width: 1200px;
    height: 110vh;
    margin: 0 auto;
    border: 1px solid;
}
.insert_start{
    text-align: center;
}

.insert_detail1{
    
    width: 50px;
    height: 50px;
    margin-top: 5px;
    margin-left: 5px;
    float: left;
} 

.insert_detail2{
    
    width: 300px;
    height: 50px;
    border: 1px solid;
    margin-top: 5px;
    margin-left: 400px;
    float: left;
} 

.insert_detail3{
    
    width: 200px;
    height: 50px;
    border: 1px solid;
    margin-top: 5px;
    margin-left: 235px;
    float: left;
} 

.insert_detail4{
    
    width: 292px;
    height: 252px;
    border: 1px solid;
    margin-top: 20px;
    margin-left: 5px;
    float: left;
} 

/* .insert_detail4_0{
    width: 292px;
    height: 252px;
}

.insert_detail4_1{
    width: 292px;
    height: 252px;
}

.insert_detail4_2{
    width: 292px;
    height: 252px;
}

.insert_detail4_3{
    width: 292px;
    height: 252px;
} */

.insert_detail5{
    
    width: 1190px;
    height: 250px;
    border: 1px solid;
    margin-top: 20px;
    margin-left: 5px;
    float: left;
} 

.insert_detail6{
    
    width: 1190px;
    height: 100px;
    border: 1px solid;
    margin-top: 20px;
    margin-left: 5px;
    float: left;
} 

.insert_detail7{
    
    width: 1190px;
    height: 300px;
    border: 1px solid;
    margin-top: 20px;
    margin-left: 5px;
    float: left;
} 

.sel_check{
    margin-top: 0px;
}

.file_check{
    font-size: 0.78em;
    margin-top: 2px;
}

#preview-container{
    margin-top: 3px;
}

#preview-container *{
    width: 292px;
    height: 252px;
    
    margin-top: 20px;
    margin-left: 5px;
    float: left;
}