.DetailSubject {
    width:40%;
    padding: 15px;
    border-bottom: 1px solid #eaeaea;
}

.DetailSubject .DetailSubject-bar .DetailSubject-box .DetailSubject-profile .DetailSubject-profile-picture > img{
    width:50px;
    height:50px;
    border-radius:100%;
}

.DetailSubject .DetailSubject-bar .DetailSubject-box .DetailSubject-profile > div{
    position: relative;
    left: 70px;
    top: -50px;
}

.DetailSubject .DetailSubject-bar .DetailSubject-box .DetailSubject-profile .DetailSubject-nick {
    font-weight: bold;
    font-size: 0.9em;
    width: 50%;
}
.DetailSubject .DetailSubject-bar .DetailSubject-box .DetailSubject-profile .DetailSubject-address {
    font-size: 0.5em;
    width: 50%;
}

.DetailSubject .DetailSubject-bar .DetailSubject-box .DetailSubject-profile .DetailSubject-menu{
    position: relative;
    left: 430px;
    top: -90px;
    width: 47px;
}
.DetailSubject .DetailSubject-bar .DetailSubject-box .DetailSubject-sub{
    margin-top: -50px;
}